

html {
  margin: 0;
}

body{
    background-color: rgb(41, 235, 235);
}
span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 40px;
  height: 40px;
  border: solid rgb(8, 8, 8) 6px;
  display: inline-block;
  border-radius: 6px;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: rgb(47, 170, 31);
}
#yellow {
  background: yellow;
}
